agno==2.3.25
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
Authlib==1.6.6
beartype==0.22.9
beautifulsoup4==4.14.3
blinker==1.9.0
bs4==0.0.1
cachetools==6.2.4
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
cloudscraper==1.2.71
cloup==3.0.8
colorama==0.4.6
cryptography==46.0.3
cyclopts==4.4.4
decorator==5.2.1
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
docutils==0.22.4
email-validator==2.3.0
exceptiongroup==1.3.1
fakeredis==2.33.0
fastapi==0.128.0
fastmcp==2.14.2
ffmpeg==1.4
gitdb==4.0.12
GitPython==3.1.46
glcontext==3.0.0
greenlet==3.3.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
hyperframe==6.1.0
idna==2.8
importlib_metadata==8.7.1
isosurfaces==0.1.2
jaraco.classes==3.4.0
jaraco.context==6.0.2
jaraco.functools==4.4.0
jieba==0.42.1
Jinja2==3.1.6
jiter==0.12.0
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
keyring==25.7.0
lupa==2.6
manim==0.18.1
manim-physics==0.4.0
ManimPango==0.6.1
mapbox_earcut==2.0.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mcp==1.25.0
mcp-python-interpreter==1.2.3
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
more-itertools==10.8.0
narwhals==2.14.0
networkx==3.6
numpy==2.3.5
openai==2.15.0
openapi-pydantic==0.5.1
opentelemetry-api==1.39.1
opentelemetry-exporter-prometheus==0.60b1
opentelemetry-instrumentation==0.60b1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.3
pathable==0.4.4
pathvalidate==3.3.1
pillow==12.0.0
pip==25.3
platformdirs==4.5.1
prometheus_client==0.23.1
protobuf==6.33.2
py-key-value-aio==0.3.0
py-key-value-shared==0.3.0
pyarrow==22.0.0
pycairo==1.29.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydantic-settings==2.12.0
pydeck==0.9.1
pydocket==0.16.6
pydub==0.25.1
pyglet==2.1.11
pyglm==2.8.3
Pygments==2.19.2
PyJWT==2.10.1
pymunk==6.11.1
pyparsing==3.2.5
pyperclip==1.11.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
python-multipart==0.0.21
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.3
redis==7.1.0
referencing==0.36.2
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.2.0
rich-rst==1.3.2
rpds-py==0.30.0
scipy==1.16.3
screeninfo==0.8.1
selenium==4.39.0
setuptools==80.9.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
skia-pathops==0.9.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.1
SQLAlchemy==2.0.45
srt==3.5.3
sse-starlette==3.1.2
starlette==0.50.0
streamlit==1.52.2
svgelements==1.9.6
tenacity==9.1.2
toml==0.10.2
tornado==6.5.4
tqdm==4.67.1
trio==0.32.0
trio-websocket==0.12.2
typer==0.21.0
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
urllib3==2.6.2
uvicorn==0.40.0
watchdog==6.0.0
websocket-client==1.9.0
websockets==16.0
wheel==0.45.1
windows-curses==2.4.1
wrapt==1.17.3
wsproto==1.3.2
zipp==3.23.0
